body {
    background-image: url("../img/mainpage_normalschool.png");
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #214478;
}

.navbar img {
    width: 70%;
    margin-left: 10%;
}

.btn {
    background-color: #e9b384;
}

.btn:hover {
    background-color: #214478;
}
